<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <script src="https://kit.fontawesome.com/f54afad4a3.js" crossorigin="anonymous"></script>
    <title>Vue Boolzapp</title>
</head>

<body class="debug">
    <div id="app">

        <div class="left ">
            <div class="top_left">
                <div class="user d-flex">
                    <img height="70" src="./assets/img/avatar_io.jpg" alt="">
                    <div class="icons d-flex">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- /.user -->
                <div class="banner d-flex">
                    <div class="icon_box">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notifications">
                        Ricevi notifiche di nuovi messaggi
                        <br>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- /.banner -->
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>

                    <input type="search" name="search" id="search" placeholder="Cerca o inizia una nuova chat">
                </div>
                <!-- /.search -->
            </div>
            <div class="bottom_left">
                <div class="list">


                    <div v-for="(contact, index) in contacts" class="user d-flex" @click="activeContact = index">
                        <img :src="contact.avatar" height="70" alt="">
                        <div class=" box_message">
                            <div class="name">
                                <h2>{{contact.name}}</h2>
                            </div>
                            <div class="preview">
                                <p> Lorem ipsum dolor sit. </p>
                            </div>
                        </div>
                        <div class="hour d-flex">
                            <p>16.30</p>
                        </div>
                    </div>






                </div>


            </div>
            <!-- /.list -->

        </div>
        <div class="right ">
            <div class="top">
                <div class="user d-flex">
                    <img :src="contacts[activeContact].avatar" height="70">
                    <div class=" box_message">
                        <div class="name">
                            <h2>{{contacts[activeContact].name}}</h2>
                        </div>
                        <div class="preview">
                            <p>Lorem ipsum dolor sit amet, consectetur </p>
                        </div>

                    </div>
                    <div class="icons d-flex">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </div>
            <div class="chat">
                <div class="sent">
                    <div v-for="messages" class="text_message">
                        {{contacts[activeContact].messages[0]}}
                        {{contacts[activeContact].messages[1]}}


                    </div>

                    <div class="side d-flex">
                        <div class="dropdown">
                            <input type="checkbox" id="checkbox-toggle-1">
                            <label for="checkbox-toggle-1"><i class="fa-solid fa-chevron-down"></i></label>
                            <ul>
                                <li><a href="#">Info messaggio</a></li>
                                <li><a href="#">Cancella messaggio</a></li>

                            </ul>
                        </div>
                        <div class="hour">14.00</div>
                    </div>
                </div>
                <div class="received">
                    <div class="text_message">
                        {{contacts[activeContact].messages[2]}}

                    </div>
                    <div class="side d-flex">
                        <div class="dropdown">
                            <input type="checkbox" id="checkbox-toggle-2">
                            <label for="checkbox-toggle-2"><i class="fa-solid fa-chevron-down"></i></label>
                            <ul>
                                <li><a href="#">Info messaggio</a></li>
                                <li><a href="#">Cancella messaggio</a></li>

                            </ul>
                        </div>
                        <div class="hour">14.00</div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" name="text" id="text" placeholder="Scrivi un messaggio">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </div>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>