<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/CSS/style.css">

    <script src="https://kit.fontawesome.com/f54afad4a3.js" crossorigin="anonymous"></script>
    <title>Boolzapp</title>
</head>

<body>
    <div id="app">

        <div class="left">


            <div class="user">
                <div class="user-pic">
                    <img src="./assets/img/avatar_io.jpg" height="70" alt="">
                </div>
                <!-- /.user-pic -->
                <div class="icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                <!-- /.icons -->
            </div>
            <!-- /.user -->
            <div class="alert">
                <div class="icon">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <!-- /.icon -->
                <div class="notifications">
                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
                <!-- /.notifications -->
            </div>
            <!-- /.alert -->
            <div class="search-bar">


                <span class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input v-model="newSearch" @keyup="searchContact" type="text"
                    placeholder="Cerca o inizia una nuova chat">


            </div>
            <!-- /.serach-bar -->
            <div class="contacts">
                <div v-for="(contact, index, array) in contacts" :key="index" @click="clickContact(index)"
                    :class="[index === selectedContact ? 'active' : '',contact.visible === false ? 'no-display' : ''] "
                    class="contact">
                    <div class="contact-pic">
                        <img :src="contact.avatar" height="70" alt="">
                    </div>
                    <!-- /.contact-pic -->
                    <div class="contact-box">
                        <div class="contact-box-left">
                            <div class="contact-name">
                                <h3>{{contact.name}}</h3>
                            </div>
                            <!-- /.contact-name -->
                            <div class="last-message-preview">
                                <span>{{contact.messages[contact.messages.length - 1].message}}</span>
                            </div>
                            <!-- /.last-message-preview -->
                        </div>
                        <!-- /.contact-box-left -->
                        <div class="contact-box-right">
                            <div class="last-message-info">
                                {{contacts[selectedContact].messages[contacts[selectedContact].messages.length -
                                1].date}}
                            </div>
                            <!-- /.last-message-info -->
                        </div>
                        <!-- /.contact-box-right -->
                    </div>
                    <!-- /.contact-box -->
                </div>
                <!-- /.contact -->

            </div>
            <!-- /.contacts -->
        </div>
        <!-- /.left -->


        <div class="right">


            <div class="contact-chat">
                <div class="selected-contact">
                    <div class="contact-pic">
                        <img :src="contacts[selectedContact].avatar" height="70" alt="">
                    </div>
                    <!-- /.contact-pic -->
                    <div class="contact-box">
                        <div class="contact-box-left">
                            <div class="contact-name">
                                <h3>{{contacts[selectedContact].name}}</h3>
                            </div>
                            <!-- /.contact-name -->
                            <div class="contact-info">
                                <span>{{'Ultimo accesso oggi alle: ' +
                                    contacts[selectedContact].messages[contacts[selectedContact].messages.length -
                                    1].date}}</span>
                            </div>
                            <!-- /.last-message-preview -->
                        </div>
                        <!-- /.contact-box-left -->
                        <div class="contact-box-right-right">
                            <div class="chat-icons">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                            <!-- /.last-message-info -->
                        </div>
                        <!-- /.contact-box-right -->
                    </div>
                </div>
                <!-- /.contact-box -->
            </div>
            <!-- /.contact-chat -->
            <div class="chat-box">
                <div class="text-line" v-for="(message, j) in contacts[selectedContact].messages" :key="j"
                    :class="message.status === 'sent' ? 'sent_position' : '' ">
                    <div class="message-box" :class="message.status === 'sent' ? 'sent-color' : 'received-color' ">

                        <div class="msg-box">

                            <p>
                                {{message.message}}

                            <div class="popup-info" :class="checkPop === j ? 'display-popup' : '' ">
                                <p>Message info</p>
                                <p class="delete-msg" @click="deleteMsg(j)">
                                    Delete message</p>
                            </div>
                            </p>
                            <i @click="popUp(j)" class="fa-solid fa-angle-down">
                            </i>

                        </div>

                        <div class="date">

                            <span>{{message.date}}</span>
                        </div>
                    </div>
                </div>

                <!-- /.chat-box -->


            </div>
            <div class="chat-controls">
                <div class="chat-bar">
                    <div class="emoticons">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="chat-text">
                        <input v-model="newMessage" @keyup.enter="addMessage" type="text"
                            placeholder="Scrivi un messaggio">
                    </div>
                    <div class="microphone">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
            <!-- /.chat-controls -->

        </div>
        <!-- /.right -->





    </div>




    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/JS/app.js"></script>


</body>


</html>